---
import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
---

<div {...storyblokEditable(blok)} class="prose prose-invert">
  <h1>{blok.title}</h1>
  <article set:html={renderRichText(blok.body)}></article>
</div>
